*.iml
.gradle
.idea/
.kotlin/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Storegt
/build
/composeApp/build
/captures
.externalNativeBuild
.cxx

jniLibs/
uniffi/
/app/key.jks
/app/release
